[submodule "courseitda-backend-config"]
	path = courseitda-backend-config
	url = https://github.com/courseitda/courseitda-backend-config.git
[submodule "terraform/backend/modules/secret"]
	path = terraform/backend/modules/secret
	url = https://github.com/courseitda/courseitda-terraform-config.git
